body
{
    background-color: green;
}

.tweet
{
    display: inline-block;
}

#tweets
{
    font-size: 1.7vw;
    column-gap: 0.7rem;
}

.jumbotron
{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
}

#countChart
{
    height: 30vh;
}

#dateChart
{
    height: 30vh;
}

#hourChart
{
    height: 30vh;
}

.card
{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#word-cloud
{
    height: 30vh;
}

#cloud-card-body
{
    overflow: hidden;
}
